.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  padding: 0.5rem;
  box-shadow: var(--bx-sh-2);
  border-radius: var(--br-radius);
  color: var(--dark-color);
  background-color: var(--light-color);
  color: var(--dark-color);
  max-width: 20rem;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card-md {
  max-width: 20rem;
}
.card-sm {
  max-width: 15rem;
}
.card-lg {
  max-width: 25rem;
}

.card-dark {
  background-color: var(--dark-color);
  color: var(--light-color);
}
.card-black {
  background-color: var(--black-color);
  color: var(--light-color);
}
.card-light {
  background-color: var(--light-color);
  color: var(--dark-color);
}
.card-horizontal {
  position: relative;
  flex-flow: row wrap;
  gap: 0.5rem;
  max-width: fit-content;
}
.card-horizontal .card-bottom {
  max-width: fit-content;
  flex: 1;
}
.card-horizontal img {
  height: 100%;
}
.card-horizontal .card-header {
  max-width: max-content;
  flex: 1;
}
.card-horizontal .card-bottom {
  padding: 0.4rem 0.3rem;
}
@media only screen and (max-width: 600px) {
  .card-horizontal {
    max-width: 20rem;
    height: fit-content;
  }
  .card-horizontal img {
    width: 100%;
  }
  .card-horizontal .card-header {
    max-width: fit-content;
    flex: none;
  }

  .card-horizontal .card-bottom {
    max-width: 20rem;

    flex: 1;
  }
}

.card-vertical {
  flex-direction: column;
  justify-content: flex-start;
  gap: 1;
  align-items: center;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: var(--bx-sh-1);
}
.card .card-header {
  position: relative;
  overflow: hidden;
}

.card-badge {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 0.9rem;
  color: var(--light-color);
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover .card-badge {
  transform: translateY(-150%);
}
.card-text-overlay {
  position: absolute;
  display: grid;
  place-content: center;
  top: 50%;
  text-align: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover .card-text-overlay {
  opacity: 1;
}

.card img {
  border-radius: 0.25rem;
}

.card .card-bottom {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}
.card-body {
  padding: 0.4rem 0.5rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 1rem;
}
.card-title {
  font-weight: 600;
  font-size: 1.2rem;
  opacity: 0.9;
}
.card-body .card-description {
  margin: 0;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 300;
  opacity: 0.9;
}
.card-footer .card-actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.card-footer {
  display: flex;
  flex-flow: row wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0 0 0.125rem 0.125rem;
}
