.avatar {
  border-radius: 50%;
  border: 5px solid var(--light-color-2);
  width: 5rem;
  height: 5rem;
  transform: scale(1);
  aspect-ratio: 1/1;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: var(--bx-sh-3);
  display: grid;
  place-content: center;
}
.avatar-text {
  border-width: 3px;
}
.avatar-square {
  border-radius: 8px !important;
}
.avatar > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.avatar:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.avatar-primary {
  border-color: var(--primary-color);
}
.avatar-secondary {
  border-color: var(--secondary-color);
}
.avatar-success {
  border-color: var(--success-color);
}
.avatar-warning {
  border-color: var(--warning-color);
}
.avatar-error {
  border-color: var(--error-color);
}
.avatar-info {
  border-color: var(--info-color);
}
.avatar-light {
  border-color: var(--light-color);
}
.avatar-dark {
  border-color: var(--dark-color);
}
.avatar-xl {
  width: 7rem;
  height: 7rem;
  font-size: 3.5rem;
}

.avatar-lg {
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
}

.avatar-md {
  width: 5rem;
  height: 5rem;
  font-size: 2.5rem;
}

.avatar-sm {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
}

.avatar-xsm {
  border-width: 4px;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
}
.avatar-badge-container {
  position: relative;
}
.avatar-badge {
  right: 0%;
  top: 0%;
  position: absolute;
  border-radius: 50%;
  min-width: 2rem;
  padding: 4px;
  display: grid;
  place-content: center;
  min-height: 2rem;
  font-size: small;
  background-color: var(--primary-color);
  color: var(--light-color);
}
.avatar-badge-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}
