button,
input[type="submit"] {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  padding: 0.5rem 0.6rem;
  border-radius: 0.3rem;
}

.btn,
.btn a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 0.5rem 0.6rem;
  border-radius: 0.3rem;
  box-shadow: var(--bx-sh-1);
  transform: scale(1);

  transition: all 0.1s ease-in-out;
}
.btn-link {
  color: var(--primary-color);
  position: relative;
}

.btn-link::after {
  content: "";
  height: 2px;
  position: absolute;
  background-color: var(--primary-color);
  top: 100%;
  left: 0%;
  width: 100%;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.btn:hover,
.btn-link:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
.btn:active,
.btn-link:active {
  opacity: 0.7;
  transform: scale(0.95);
}
.btn:hover {
  box-shadow: var(--bx-sh-2);
}
.btn:active {
  box-shadow: var(--bx-sh-3);
}

.btn-disabled {
  background-color: var(--grey-color-7);
  color: var(--grey-color-4);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--light-color);
}
.btn-tertiary {
  background-color: var(--tertiary-color);
  color: var(--light-color);
}
.btn-error {
  background-color: var(--error-color);
  color: var(--light-color);
}
.btn-warning {
  background-color: var(--warning-color);
  color: var(--dark-color);
}
.btn-info {
  background-color: var(--info-color);
  color: var(--light-color);
}
.btn-success {
  background-color: var(--success-color);
  color: var(--light-color);
}
.btn-light {
  background-color: var(--light-color);
  color: var(--dark-color);
}
.btn-dark {
  background-color: var(--dark-color);
  color: var(--light-color);
}
.btn-grey {
  background-color: var(--grey-color);
  color: var(--light-color);
}
.btn-outline-primary,
.btn-outline-dark,
.btn-outline-light,
.btn-outline-grey,
.btn-outline-error,
.btn-outline-info,
.btn-outline-success,
.btn-outline-warning,
.btn-outline-secondary,
.btn-outline-tertiary,
.btn-outline-primary {
  border: 0.5px solid;
}
.btn-outline-primary:hover,
.btn-outline-dark:hover,
.btn-outline-light:hover,
.btn-outline-grey:hover,
.btn-outline-error:hover,
.btn-outline-info:hover,
.btn-outline-success:hover,
.btn-outline-warning:hover,
.btn-outline-secondary:hover,
.btn-outline-tertiary:hover,
.btn-outline-primary:hover {
  opacity: 1;
}
.btn-outline-primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}
.btn-outline-secondary {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}
.btn-outline-secondary:hover {
  background-color: var(--secondary-color);
  color: var(--light-color);
}
.btn-outline-tertiary {
  border-color: var(--tertiary-color);
  color: var(--tertiary-color);
}
.btn-outline-tertiary:hover {
  background-color: var(--tertiary-color);
  color: var(--light-color);
}
.btn-outline-error {
  border-color: var(--error-color);
  color: var(--error-color);
}
.btn-outline-error:hover {
  background-color: var(--error-color);
  color: var(--light-color);
}
.btn-outline-warning {
  background: var(--dark-color);
  border-color: var(--warning-color);
  color: var(--warning-color);
}
.btn-outline-warning:hover {
  background-color: var(--warning-color);
  color: var(--dark-color);
}
.btn-outline-info {
  border-color: var(--info-color);
  color: var(--info-color);
}
.btn-outline-info:hover {
  background-color: var(--info-color);
  color: var(--light-color);
}
.btn-outline-success {
  border-color: var(--success-color);
  color: var(--success-color);
}
.btn-outline-success:hover {
  background-color: var(--success-color);
  color: var(--light-color);
}
.btn-outline-dark {
  border-color: var(--dark-color);
  color: var(--dark-color);
}
.btn-outline-dark:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}
.btn-outline-dark:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}
.btn-outline-light {
  border-color: var(--light-color);
  color: var(--light-color);
}
.btn-outline-light:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.btn-outline-grey {
  border-color: var(--grey-color);
  color: var(--grey-color);
}
.btn-outline-grey:hover {
  background-color: var(--grey-color);
  color: var(--light-color);
}
.btn-round,
.btn-round-lg,
.btn-round-sm,
.btn-round-md {
  display: grid;
  place-content: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.btn-round {
  width: 3rem;
}
.btn-round-lg {
  width: 4rem;
}
.btn-round-sm {
  font-size: smaller;
  width: 2rem;
}
.btn-round-md {
  width: 2.5rem;
}
.btn-float-right,
.btn-float-right-md,
.btn-float-right-sm,
.btn-float-right-lg,
.btn-float-right-xl {
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 99;
}
.btn-float-left,
.btn-float-left-md,
.btn-float-left-sm,
.btn-float-left-lg,
.btn-float-left-xl {
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 99;
}
.btn-float-right-sm,
.btn-float-left-sm {
  transform: scale(1);
}

.btn-float-right-md,
.btn-float-left-md,
.btn-float-right,
.btn-float-left {
  transform: scale(1.2);
}

.btn-float-right-md:hover,
.btn-float-left-md:hover,
.btn-float-right:hover,
.btn-float-left:hover {
  transform: scale(1.3);
}
.btn-float-right-md:active,
.btn-float-left-md:active,
.btn-float-right:active,
.btn-float-left:active {
  transform: scale(1.1);
}
.btn-float-right-lg,
.btn-float-left-lg {
  transform: scale(1.4);
}
.btn-float-left-lg:hover,
.btn-float-right-lg:hover {
  transform: scale(1.5);
}
.btn-float-left-lg:active,
.btn-float-right-lg:active {
  transform: scale(1.3);
}

.btn-float-left-xl,
.btn-float-right-xl {
  transform: scale(1.6);
}
.btn-float-left-xl:hover,
.btn-float-right-xl:hover {
  transform: scale(1.7);
}
.btn-float-left-xl:active,
.btn-float-right-xl:active {
  transform: scale(1.5);
}
