<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="../components/css/style.css">
    <link rel="stylesheet" href="../components/css/prism.css">
    <script src="../js/index.js" defer></script>
    <script src="../components/js/index.js" defer></script>
    <script src="../components/js/prism.js" defer></script>


    <title>XenDesign</title>
</head>

<body class="bg-dark  overflow-x-hidden text-light">
    <header class="p-3 pt-2 pb-2 t-0 l-0 fixed bg-dark w-full bx-sh-primary-3 row justify-between items-center">
        <div class="row gap-1 items-center">
            <button class="menu btn-round-md bg-primary ml-2">
                <fa class="fa fa-bars"></fa>
            </button>
            <div class="row gap-1 items-center">
                <img src="./img/logo.png" alt="" class="w-14">
                <a href="../index.html" class="text-xl title">XenDesign</a>
            </div>
        </div>
        <a href="https://github.com/sanjitsarkar/xendesign" target="_blank" class="text-xl"><i
                class="fab fa-github fa-2x"></i>
        </a>

    </header>
    <main class="container h-full w-full row">
        <aside class="w-1-6 sidebar  overflow-y-auto ">
            <h1 class="sidebar-title font-bold text-xl pb-1 pl-3">
                Get Started
            </h1>
            <ul class="list top-list p-1" id="top-list">

                <li>Installation</li>
                <li>Color</li>
                <li>Typography</li>
            </ul>
            <h1 class="sidebar-title font-bold text-xl pb-1 pl-0">
                Components
            </h1>
            <ul class="list bottom-list p-1" id="bottom-list">
                <li>Alert</li>
                <li>Avatar</li>
                <li>Badge</button></li>
                <li>Button</li>
                <li>Card</li>
                <li>Image</li>
                <li>Input</li>
                <li>Modal</li>
                <li>List</li>
                <li>Toast</li>
                <li>Rating</li>
                <li>Slider</li>
                <li>Grid</li>
                <li>Navigation</li>
            </ul>
        </aside>

        <main class="component-wrapper">
            <h1 class="text-2xl  mb-3 text-primary">Color</h1>
            <h3 class="text-xl text-light mb-2  font-medium">Background Colors</h3>
            <section class="mb-4">
                <div class="bg-container w-full h-5 bg-primary">Primary Color</div>
                <div class="bg-container w-full h-5 bg-primary-1">Primary Color</div>
                <div class="bg-container w-full h-5 bg-primary-2">Primary Color</div>
                <div class="bg-container w-full h-5 bg-primary-3">Primary Color</div>
                <div class="bg-container w-full h-5 bg-primary-4">Primary Color</div>
                <div class="bg-container w-full h-5 bg-primary-5">Primary Color</div>
                <div class="bg-container w-full h-5 bg-primary-6">Primary Color</div>
                <div class="bg-container w-full h-5 bg-primary-7">Primary Color</div>
                <div class="bg-container w-full h-5 bg-primary-8">Primary Color</div>
                <div class="bg-container w-full h-5 bg-primary-9">Primary Color</div>
                <div class="bg-container w-full h-5 bg-secondary">Secondary Color</div>
                <div class="bg-container w-full h-5 bg-secondary-1">Secondary Color</div>
                <div class="bg-container w-full h-5 bg-secondary-2">Secondary Color</div>
                <div class="bg-container w-full h-5 bg-secondary-3">Secondary Color</div>
                <div class="bg-container w-full h-5 bg-secondary-4">Secondary Color</div>
                <div class="bg-container w-full h-5 bg-secondary-5">Secondary Color</div>
                <div class="bg-container w-full h-5 bg-secondary-6">Secondary Color</div>
                <div class="bg-container w-full h-5 bg-secondary-7">Secondary Color</div>
                <div class="bg-container w-full h-5 bg-secondary-8">Secondary Color</div>
                <div class="bg-container w-full h-5 bg-secondary-9">Secondary Color</div>
                <div class="bg-container w-full h-5 bg-tertiary">Tertiary Color</div>
                <div class="bg-container w-full h-5 bg-tertiary-1">Tertiary Color</div>
                <div class="bg-container w-full h-5 bg-tertiary-2">Tertiary Color</div>
                <div class="bg-container w-full h-5 bg-tertiary-3">Tertiary Color</div>
                <div class="bg-container w-full h-5 bg-tertiary-4">Tertiary Color</div>
                <div class="bg-container w-full h-5 bg-tertiary-5">Tertiary Color</div>
                <div class="bg-container w-full h-5 bg-tertiary-6">Tertiary Color</div>
                <div class="bg-container w-full h-5 bg-tertiary-7">Tertiary Color</div>
                <div class="bg-container w-full h-5 bg-tertiary-8">Tertiary Color</div>
                <div class="bg-container w-full h-5 bg-tertiary-9">Tertiary Color</div>
                <div class="bg-container w-full h-5 bg-light text-dark">Light Color</div>
                <div class="bg-container w-full h-5 bg-light-1 text-dark">Light Color</div>
                <div class="bg-container w-full h-5 bg-light-2 text-dark">Light Color</div>
                <div class="bg-container w-full h-5 bg-light-3 text-dark">Light Color</div>
                <div class="bg-container w-full h-5 bg-light-4 text-dark">Light Color</div>
                <div class="bg-container w-full h-5 bg-light-5 text-dark">Light Color</div>
                <div class="bg-container w-full h-5 bg-light-6 text-dark">Light Color</div>
                <div class="bg-container w-full h-5 bg-light-7 text-dark">Light Color</div>
                <div class="bg-container w-full h-5 bg-light-8 text-dark">Light Color</div>
                <div class="bg-container w-full h-5 bg-light-9 text-dark">Light Color</div>
                <div class="bg-container w-full h-5 bg-black">Black Color</div>
                <div class="bg-container w-full h-5 bg-black-1">Black Color</div>
                <div class="bg-container w-full h-5 bg-black-2">Black Color</div>
                <div class="bg-container w-full h-5 bg-black-3">Black Color</div>
                <div class="bg-container w-full h-5 bg-black-4">Black Color</div>
                <div class="bg-container w-full h-5 bg-black-5">Black Color</div>
                <div class="bg-container w-full h-5 bg-black-6">Black Color</div>
                <div class="bg-container w-full h-5 bg-black-7">Black Color</div>
                <div class="bg-container w-full h-5 bg-black-8">Black Color</div>
                <div class="bg-container w-full h-5 bg-black-9">Black Color</div>
                <div class="bg-container w-full h-5 bg-grey">Grey Color</div>
                <div class="bg-container w-full h-5 bg-grey-1">Grey Color</div>
                <div class="bg-container w-full h-5 bg-grey-2">Grey Color</div>
                <div class="bg-container w-full h-5 bg-grey-3">Grey Color</div>
                <div class="bg-container w-full h-5 bg-grey-4">Grey Color</div>
                <div class="bg-container w-full h-5 bg-grey-5">Grey Color</div>
                <div class="bg-container w-full h-5 bg-grey-6">Grey Color</div>
                <div class="bg-container w-full h-5 bg-grey-7">Grey Color</div>
                <div class="bg-container w-full h-5 bg-grey-8">Grey Color</div>
                <div class="bg-container w-full h-5 bg-grey-9">Grey Color</div>
                <div class="bg-container w-full h-5 bg-info">Info Color</div>
                <div class="bg-container w-full h-5 bg-warning text-dark">Warning Color</div>
                <div class="bg-container w-full h-5 bg-error">Error Color</div>
                <div class="bg-container w-full h-5 bg-success">Success Color</div>
                <div class="bg-container w-full h-5 bg-pink">Pink Color</div>
            </section>
            <pre><code class="language-html"><xmp><div class="bg-container w-full h-5 bg-primary">Primary Color</div>
<div class="bg-container w-full h-5 bg-primary-1">Primary Color</div>
<div class="bg-container w-full h-5 bg-primary-9">Primary Color</div>
<div class="bg-container w-full h-5 bg-secondary">Secondary Color</div>
<div class="bg-container w-full h-5 bg-secondary-1">Secondary Color</div>
<div class="bg-container w-full h-5 bg-secondary-9">Secondary Color</div>
<div class="bg-container w-full h-5 bg-tertiary">Tertiary Color</div>
<div class="bg-container w-full h-5 bg-tertiary-1">Tertiary Color</div>
<div class="bg-container w-full h-5 bg-tertiary-9">Tertiary Color</div>
<div class="bg-container w-full h-5 bg-light text-dark">Light Color</div>
<div class="bg-container w-full h-5 bg-light-1 text-dark">Light Color</div>
<div class="bg-container w-full h-5 bg-light-9 text-dark">Light Color</div>
<div class="bg-container w-full h-5 bg-black">Black Color</div>
<div class="bg-container w-full h-5 bg-black-1">Black Color</div>
<div class="bg-container w-full h-5 bg-black-9">Black Color</div>
<div class="bg-container w-full h-5 bg-grey">Grey Color</div>
<div class="bg-container w-full h-5 bg-grey-1">Grey Color</div>
<div class="bg-container w-full h-5 bg-grey-9">Grey Color</div>
<div class="bg-container w-full h-5 bg-info">Info Color</div>
<div class="bg-container w-full h-5 bg-warning text-dark">Warning Color</div>
<div class="bg-container w-full h-5 bg-error">Error Color</div>
<div class="bg-container w-full h-5 bg-success">Success Color</div>
<div class="bg-container w-full h-5 bg-pink">Pink Color</div></xmp></code></pre>
            <h3 class="text-xl text-light mb-2 mt-5 font-medium">Text Colors</h3>
            <section class="mb-4">
                <h1 class="text-container w-full h-5 text-primary">Primary Color</h1>
                <h1 class="text-container w-full h-5 text-primary-1">Primary Color</h1>
                <h1 class="text-container w-full h-5 text-primary-2">Primary Color</h1>
                <h1 class="text-container w-full h-5 text-primary-3">Primary Color</h1>
                <h1 class="text-container w-full h-5 text-primary-4">Primary Color</h1>
                <h1 class="text-container w-full h-5 text-primary-5">Primary Color</h1>
                <h1 class="text-container w-full h-5 text-primary-6">Primary Color</h1>
                <h1 class="text-container w-full h-5 text-primary-7">Primary Color</h1>
                <h1 class="text-container w-full h-5 text-primary-8">Primary Color</h1>
                <h1 class="text-container w-full h-5 text-primary-9">Primary Color</h1>
                <h1 class="text-container w-full h-5 text-secondary">Secondary Color</h1>
                <h1 class="text-container w-full h-5 text-secondary-1">Secondary Color</h1>
                <h1 class="text-container w-full h-5 text-secondary-2">Secondary Color</h1>
                <h1 class="text-container w-full h-5 text-secondary-3">Secondary Color</h1>
                <h1 class="text-container w-full h-5 text-secondary-4">Secondary Color</h1>
                <h1 class="text-container w-full h-5 text-secondary-5">Secondary Color</h1>
                <h1 class="text-container w-full h-5 text-secondary-6">Secondary Color</h1>
                <h1 class="text-container w-full h-5 text-secondary-7">Secondary Color</h1>
                <h1 class="text-container w-full h-5 text-secondary-8">Secondary Color</h1>
                <h1 class="text-container w-full h-5 text-secondary-9">Secondary Color</h1>
                <h1 class="text-container w-full h-5 text-tertiary">Tertiary Color</h1>
                <h1 class="text-container w-full h-5 text-tertiary-1">Tertiary Color</h1>
                <h1 class="text-container w-full h-5 text-tertiary-2">Tertiary Color</h1>
                <h1 class="text-container w-full h-5 text-tertiary-3">Tertiary Color</h1>
                <h1 class="text-container w-full h-5 text-tertiary-4">Tertiary Color</h1>
                <h1 class="text-container w-full h-5 text-tertiary-5">Tertiary Color</h1>
                <h1 class="text-container w-full h-5 text-tertiary-6">Tertiary Color</h1>
                <h1 class="text-container w-full h-5 text-tertiary-7">Tertiary Color</h1>
                <h1 class="text-container w-full h-5 text-tertiary-8">Tertiary Color</h1>
                <h1 class="text-container w-full h-5 text-tertiary-9">Tertiary Color</h1>
                <h1 class="text-container w-full h-5 text-light ">Light Color</h1>
                <h1 class="text-container w-full h-5 text-light-1 ">Light Color</h1>
                <h1 class="text-container w-full h-5 text-light-2 ">Light Color</h1>
                <h1 class="text-container w-full h-5 text-light-3 ">Light Color</h1>
                <h1 class="text-container w-full h-5 text-light-4 ">Light Color</h1>
                <h1 class="text-container w-full h-5 text-light-5 ">Light Color</h1>
                <h1 class="text-container w-full h-5 text-light-6 ">Light Color</h1>
                <h1 class="text-container w-full h-5 text-light-7 ">Light Color</h1>
                <h1 class="text-container w-full h-5 text-light-8 ">Light Color</h1>
                <h1 class="text-container w-full h-5 text-light-9 ">Light Color</h1>
                <h1 class="text-container w-full h-5 text-black">Black Color</h1>
                <h1 class="text-container w-full h-5 text-black-1">Black Color</h1>
                <h1 class="text-container w-full h-5 text-black-2">Black Color</h1>
                <h1 class="text-container w-full h-5 text-black-3">Black Color</h1>
                <h1 class="text-container w-full h-5 text-black-4">Black Color</h1>
                <h1 class="text-container w-full h-5 text-black-5">Black Color</h1>
                <h1 class="text-container w-full h-5 text-black-6">Black Color</h1>
                <h1 class="text-container w-full h-5 text-black-7">Black Color</h1>
                <h1 class="text-container w-full h-5 text-black-8">Black Color</h1>
                <h1 class="text-container w-full h-5 text-black-9">Black Color</h1>
                <h1 class="text-container w-full h-5 text-grey">Grey Color</h1>
                <h1 class="text-container w-full h-5 text-grey-1">Grey Color</h1>
                <h1 class="text-container w-full h-5 text-grey-2">Grey Color</h1>
                <h1 class="text-container w-full h-5 text-grey-3">Grey Color</h1>
                <h1 class="text-container w-full h-5 text-grey-4">Grey Color</h1>
                <h1 class="text-container w-full h-5 text-grey-5">Grey Color</h1>
                <h1 class="text-container w-full h-5 text-grey-6">Grey Color</h1>
                <h1 class="text-container w-full h-5 text-grey-7">Grey Color</h1>
                <h1 class="text-container w-full h-5 text-grey-8">Grey Color</h1>
                <h1 class="text-container w-full h-5 text-grey-9">Grey Color</h1>
                <h1 class="text-container w-full h-5 text-info">Info Color</h1>
                <h1 class="text-container w-full h-5 text-warning ">Warning Color</h1>
                <h1 class="text-container w-full h-5 text-error">Error Color</h1>
                <h1 class="text-container w-full h-5 text-success">Success Color</h1>
                <h1 class="text-container w-full h-5 text-pink">Pink Color</h1>
            </section>
            <pre><code class="language-html"><xmp><h1 class="bg-container w-full h-5 text-primary">Primary Color</div>
<h1 class="text-container w-full h-5 text-primary-1">Primary Color</div>
<h1 class="text-container w-full h-5 text-primary-9">Primary Color</div>
<h1 class="text-container w-full h-5 text-secondary">Secondary Color</div>
<h1 class="text-container w-full h-5 text-secondary-1">Secondary Color</div>
<h1 class="text-container w-full h-5 text-secondary-9">Secondary Color</div>
<h1 class="text-container w-full h-5 text-tertiary">Tertiary Color</div>
<h1 class="text-container w-full h-5 text-tertiary-1">Tertiary Color</div>
<h1 class="text-container w-full h-5 text-tertiary-9">Tertiary Color</div>
<h1 class="text-container w-full h-5 text-light ">Light Color</div>
<h1 class="text-container w-full h-5 text-light-1 ">Light Color</div>
<h1 class="text-container w-full h-5 text-light-9 ">Light Color</div>
<h1 class="text-container w-full h-5 text-black">Black Color</div>
<h1 class="text-container w-full h-5 text-black-1">Black Color</div>
<h1 class="text-container w-full h-5 text-black-9">Black Color</div>
<h1 class="text-container w-full h-5 text-grey">Grey Color</div>
<h1 class="text-container w-full h-5 text-grey-1">Grey Color</div>
<h1 class="text-container w-full h-5 text-grey-9">Grey Color</div>
<h1 class="text-container w-full h-5 text-info">Info Color</div>
<h1 class="text-container w-full h-5 text-warning ">Warning Color</div>
<h1 class="text-container w-full h-5 text-error">Error Color</div>
<h1 class="text-container w-full h-5 text-success">Success Color</div>
<h1 class="text-container w-full h-5 text-pink">Pink Color</div></xmp></code></pre>
        </main>
</body>

</html>