<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="../components/css/style.css">
    <link rel="stylesheet" href="../components/css/prism.css">
    <script src="../js/index.js" defer></script>
    <script src="../components/js/index.js" defer></script>
    <script src="../components/js/prism.js" defer></script>


    <title>XenDesign</title>
</head>

<body class="bg-dark  overflow-x-hidden text-light">
    <header id="header"
        class="p-3 pt-2 pb-2 t-0 l-0 fixed bg-dark w-full bx-sh-primary-3 row justify-between items-center">
        <div class="row gap-1 items-center">
            <button class="menu btn-round-md bg-primary ml-2">
                <fa class="fa fa-bars"></fa>
            </button>
            <div class="row gap-1 items-center">
                <div class="row gap-1 items-center">
                    <img src="./img/logo.png" alt="" class="w-14">
                    <a href="../index.html" class="text-xl title">XenDesign</a>
                </div>
            </div>
        </div>
        <a href="https://github.com/sanjitsarkar/xendesign" target="_blank" class="text-xl"><i
                class="fab fa-github fa-2x"></i>
        </a>

    </header>
    <main class="container h-full w-full row">
        <aside class="w-1-6 sidebar  overflow-y-auto ">
            <h1 class="sidebar-title font-bold text-xl pb-1 pl-3">
                Get Started
            </h1>
            <ul class="list top-list p-1" id="top-list">

                <li>Installation</li>
                <li>Color</li>
                <li>Typography</li>
            </ul>
            <h1 class="sidebar-title font-bold text-xl pb-1 pl-0">
                Components
            </h1>
            <ul class="list bottom-list p-1" id="bottom-list">
                <li>Alert</li>
                <li>Avatar</li>
                <li>Badge</li>
                <li>Button</li>
                <li>Card</li>
                <li>Image</li>
                <li>Input</li>
                <li>Modal</li>
                <li>List</li>
                <li>Toast</li>
                <li>Rating</li>
                <li>Slider</li>
                <li class="active">Grid</li>
                <li>Navigation</li>
            </ul>
        </aside>
        <main class="component-wrapper">
            <h1 class="text-2xl  mb-3 text-primary">Grid</h1>
            <h3 class="text-xl text-light mb-2 font-medium">Simple 12 Column Grid</h3>
            <section class="component-section col gap-1 mb-4">
                <div class="grid grid-cols-12 gap-05 bg-primary-5 p-2 overflow-hidden overflow-x-auto">
                    <div class=" p-2 h-4 bg-light text-dark grid place-content-center">01</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">02</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">03</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">04</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">05</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">06</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">07</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">08</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">09</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">10</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">11</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">12</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">13</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">14</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">15</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">16</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">17</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">18</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">19</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">20</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">21</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">22</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">23</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">24</div>

                </div>
            </section>
            <pre><code class="language-html"><xmp><div class="grid grid-cols-12 gap-05 bg-primary-5 p-2 overflow-hidden overflow-x-auto">
    <div class=" p-2 h-4 bg-light text-dark grid place-content-center">01</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">02</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">03</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">04</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">05</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">06</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">07</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">08</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">09</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">10</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">11</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">12</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">13</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">14</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">15</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">16</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">17</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">18</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">19</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">20</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">21</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">22</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">23</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">24</div>        
</div></xmp></code></pre>
            <h3 class="text-xl text-light mb-2 mt-5 font-medium">Simple 4X4 Grid</h3>
            <section class="component-section col gap-1 mb-4">
                <div class="grid grid-rows-4 grid-cols-4 gap-05 bg-primary-5 p-2 overflow-hidden overflow-x-auto">
                    <div class=" p-2 h-4 bg-light text-dark grid place-content-center">01</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">02</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">03</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">04</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">05</div>
                    <div class=" p-2 h-4 bg-light text-dark grid place-content-center">06</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">07</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">08</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">09</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">10</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">11</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">12</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">13</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">14</div>
                    <div class="p-2 h-4 bg-light text-dark grid place-content-center">15</div>
                    <div class=" p-2 h-4 bg-light text-dark grid place-content-center">16</div>
                </div>
            </section>
            <pre><code class="language-html"><xmp><div class="grid grid-rows-4 grid-cols-4 gap-05 bg-primary-5 p-2 overflow-hidden overflow-x-auto">
    <div class=" p-2 h-4 bg-light text-dark grid place-content-center">01</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">02</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">03</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">04</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">05</div>
    <div class=" p-2 h-4 bg-light text-dark grid place-content-center">06</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">07</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">08</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">09</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">10</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">11</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">12</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">13</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">14</div>
    <div class="p-2 h-4 bg-light text-dark grid place-content-center">15</div>
    <div class=" p-2 h-4 bg-light text-dark grid place-content-center">16</div>
</div></xmp></code></pre>
            <h3 class="text-xl text-light mb-2 mt-5 font-medium">Grid Column and Row Span</h3>
            <section class="component-section col gap-1 mb-4">
                <div class="grid grid-cols-12 grid-rows-3 gap-1 bg-primary-5 p-2 overflow-hidden overflow-x-auto">
                    <div class="row-span-full bg-light text-dark p-2 grid place-content-center">01</div>
                    <div class="bg-light text-dark p-2 grid place-content-center">02</div>
                    <div class="row-span-2 bg-light text-dark p-2 grid place-content-center">03</div>
                    <div class="col-span-2 row-span-3 bg-light text-dark p-2 grid place-content-center">04</div>
                    <div class="bg-light text-dark p-2 grid place-content-center">05</div>
                    <div class="bg-light text-dark p-2 grid place-content-center">06</div>
                    <div class="col-span-5 row-span-2 bg-light text-dark p-2 grid place-content-center">07</div>
                </div>
            </section>
            <pre><code class="language-html"><xmp><div class="grid grid-cols-12 grid-rows-3 gap-1 bg-primary-5 p-2 overflow-hidden overflow-x-auto">
    <div class="row-span-full bg-light text-dark p-2 grid place-content-center">01</div>
    <div class="bg-light text-dark p-2 grid place-content-center">02</div>
    <div class="row-span-2 bg-light text-dark p-2 grid place-content-center">03</div>
    <div class="col-span-2 row-span-3 bg-light text-dark p-2 grid place-content-center">04</div>
    <div class="bg-light text-dark p-2 grid place-content-center">05</div>
    <div class="bg-light text-dark p-2 grid place-content-center">06</div>
    <div class="col-span-5 row-span-2 bg-light text-dark p-2 grid place-content-center">07</div>
</div></xmp></code></pre>

        </main>


    </main>
</body>

</html>