<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="../components/css/style.css">
    <link rel="stylesheet" href="../components/css/prism.css">
    <script src="../js/index.js" defer></script>
    <script src="../components/js/index.js" defer></script>
    <script src="../components/js/prism.js" defer></script>


    <title>XenDesign</title>
</head>

<body class="bg-dark  overflow-x-hidden text-light">
    <header class="p-3 pt-2 pb-2 t-0 l-0 fixed bg-dark w-full bx-sh-primary-3 row justify-between items-center">
        <div class="row gap-1 items-center">
            <button class="menu btn-round-md bg-primary ml-2">
                <fa class="fa fa-bars"></fa>
            </button>
            <div class="row gap-1 items-center">
                <div class="row gap-1 items-center">
                    <img src="./img/logo.png" alt="" class="w-14">
                    <a href="../index.html" class="text-xl title">XenDesign</a>
                </div>
            </div>
        </div>
        <a href="https://github.com/sanjitsarkar/xendesign" target="_blank" class="text-xl"><i
                class="fab fa-github fa-2x"></i>
        </a>

    </header>
    <main class="container h-full w-full row">
        <aside class="w-1-6 sidebar  overflow-y-auto ">
            <h1 class="sidebar-title font-bold text-xl pb-1 pl-3">
                Get Started
            </h1>
            <ul class="list top-list p-1" id="top-list">

                <li>Installation</li>
                <li>Color</li>
                <li>Typography</li>
            </ul>
            <h1 class="sidebar-title font-bold text-xl pb-1 pl-0">
                Components
            </h1>
            <ul class="list bottom-list p-1" id="bottom-list">
                <li>Alert</li>
                <li>Avatar</li>
                <li>Badge</li>
                <li>Button</li>
                <li>Card</li>
                <li>Image</li>
                <li>Input</li>
                <li>Modal</li>
                <li>List</li>
                <li>Toast</li>
                <li>Rating</li>
                <li>Slider</li>
                <li class="active">Grid</li>
                <li>Navigation</li>
            </ul>
        </aside>
        <main class="component-wrapper">
            <!-- <h1 class="text-2xl  mb-3 text-primary">Grid</h1>
            <h3 class="text-xl text-light mb-2 font-medium">Simple Grid</h3>
            <section class="component-section col gap-1 mb-4">
                <header>
                    <nav class="nav bg-dark bx-sh-primary-3">
                        <div class="nav-header-section">
                            <div class="nav-title-section">
                                <h3 class="nav-title">XenDesign</h3>

                            </div>
                            <div class="input-box input input-dark">
                                <i class="fa fa-search"></i>
                                <input type="text" placeholder="Search something..." class="input">
                            </div>
                        </div>
                        <div class="nav actions">
                            <a href="">Home</a>
                            <a href="" class="btn">
                                <div class="badge-holder">
                                    <i class="fa fa-shopping-cart btn btn-round-md bg-light text-dark"></i>
                                    <span class="badge badge-info">10</span>
                                </div>
                            </a>
                        </div>
                    </nav>
                </header>
            </section>
            <pre><code class="language-html"><xmp><header>
    <nav class="nav bg-dark bx-sh-primary-3">
        <div class="nav-header-section">
            <div class="nav-title">
                XenDesign
            </div>
            <div class="input-box input input-dark">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search something..." class="input">
            </div>
        </div>
        <div class="nav actions">
            <a href="">Home</a>
            <a href="" class="btn">
                <div class="badge-holder">
                    <i class="fa fa-shopping-cart btn btn-round-md bg-light text-dark"></i>
                    <span class="badge badge-info">10</span>
                </div>
            </a>
        </div>
    </nav>
</header></xmp></code></pre>
            <h3 class="text-xl text-light mb-2 mt-5 font-medium">Fixed Navigation Bar</h3>
            <section class="component-section col gap-1 mb-4">
                <header class="relative">
                    <nav class="nav bg-dark bx-sh-primary-3">
                        <div class="nav-header-section">
                            <div class="nav-title-section">
                                <div class="nav-logo">
                                    <img src="./img/logo.png" alt="logo">
                                </div>
                                <h3 class="nav-title">
                                    XenDesign
                                </h3>
                            </div>
                            <div class="input-box input input-dark">
                                <i class="fa fa-search"></i>
                                <input type="text" placeholder="Search something..." class="input">
                            </div>
                        </div>
                        <div class="nav actions">
                            <a href="">Home</a>
                            <a href="" class="btn">
                                <div class="badge-holder">
                                    <i class="fa fa-shopping-cart btn btn-round-md bg-light text-dark"></i>
                                    <span class="badge badge-info">10</span>
                                </div>
                            </a>
                        </div>
                    </nav>
                </header>
            </section>
            <pre><code class="language-html"><xmp><header class="relative">
    <nav class="nav nav-fixed bg-dark bx-sh-primary-3">
        <div class="nav-header-section">
            <div class="nav-title">
                XenDesign
            </div>
            <div class="nav-logo">
         <img src="https://iconscout.com/iconscout_logo-1024x1024.png" alt="logo">
            </div>
            <div class="input-box input input-dark">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search something..." class="input">
            </div>
        </div>
        <div class="nav actions">
            <a href="">Home</a>
            <a href="" class="btn">
                <div class="badge-holder">
                    <i class="fa fa-shopping-cart btn btn-round-md bg-light text-dark"></i>
                    <span class="badge badge-info">10</span>
                </div>
            </a>
        </div>
    </nav>
</header></xmp></code></pre> -->

        </main>


    </main>
</body>

</html>