<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="../components/css/style.css">
    <script src="../js/index.js" defer></script>
    <script src="../components/js/index.js" defer></script>
    <title>XenDesign</title>
</head>

<body class="bg-dark  overflow-x-hidden text-light">
    <header class="align-left p-3 pt-2 pb-2 t-0 l-0 fixed bg-dark w-full bx-sh-secondary-3">
        <a href="../index.html" class="text-xl">XenDesign</a>
    </header>
    <main class="container h-full w-full row">
        <aside class="w-1-6 sidebar  overflow-y-auto ">
            <h1 class="sidebar-title text-bold text-xl pb-1 pl-3">
                Get Started
            </h1>
            <div class="list top-list p-1">
                <ul>
                    <li onclick="openPage(this)">Introduction</li>
                    <li onclick="openPage(this)">Installation</li>
                    <li onclick="openPage(this)">Color</li>
                    <li onclick="openPage(this)">Typography</li>
                </ul>
            </div>
            <h1 class="sidebar-title text-bold text-xl pb-1 pl-0">
                Components
            </h1>
            <div class="list bottom-list p-1">
                <ul>
                    <li onclick="openPage(this)">Alert</li>
                    <li onclick="openPage(this)">Avatar</li>
                    <li onclick="openPage(this)">Badge</button></li>
                    <li onclick="openPage(this)">Button</li>
                    <li onclick="openPage(this)">Card</li>
                    <li onclick="openPage(this)">Image</li>
                    <li onclick="openPage(this)">Input</li>
                    <li onclick="openPage(this)">Modal</li>
                    <li onclick="openPage(this)">Toast</li>
                    <li onclick="openPage(this)">Rating</li>
                    <li onclick="openPage(this)">Grid</li>
                    <li onclick="openPage(this)">Navigation</li>
                    <li onclick="openPage(this)">Slider</li>
                </ul>
            </div>
        </aside>
        <iframe src="../index.html" frameborder="0" class="w-5-6 h-screen" id="iframe"></iframe>
    </main>
</body>

</html>