<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="../components/css/style.css">
    <link rel="stylesheet" href="../components/css/prism.css">
    <script src="../js/index.js" defer></script>
    <script src="../components/js/index.js" defer></script>
    <script src="../components/js/prism.js" defer></script>


    <title>XenDesign</title>
</head>

<body class="bg-dark  overflow-x-hidden text-light">
    <header class="p-3 pt-2 pb-2 t-0 l-0 fixed bg-dark w-full bx-sh-primary-3 row justify-between items-center">
        <div class="row gap-1 items-center">
            <button class="menu btn-round-md bg-primary ml-2">
                <fa class="fa fa-bars"></fa>
            </button>
            <div class="row gap-1 items-center">
                <img src="./img/logo.png" alt="" class="w-14">
                <a href="../index.html" class="text-xl title">XenDesign</a>
            </div>
        </div>
        <a href="https://github.com/sanjitsarkar/xendesign" target="_blank" class="text-xl"><i
                class="fab fa-github fa-2x"></i>
        </a>

    </header>
    <main class="container h-full w-full row">
        <aside class="w-1-6 sidebar  overflow-y-auto ">
            <h1 class="sidebar-title font-bold text-xl pb-1 pl-3">
                Get Started
            </h1>
            <ul class="list top-list p-1" id="top-list">

                <li class="active">Installation</li>
                <li>Color</li>
                <li>Typography</li>
            </ul>
            <h1 class="sidebar-title font-bold text-xl pb-1 pl-0">
                Components
            </h1>
            <ul class="list bottom-list p-1" id="bottom-list">
                <li>Alert</li>
                <li>Avatar</li>
                <li>Badge</li>
                <li>Button</li>
                <li>Card</li>
                <li>Image</li>
                <li>Input</li>
                <li>Modal</li>
                <li>List</li>
                <li>Toast</li>
                <li>Rating</li>
                <li>Slider</li>
                <li>Grid</li>
                <li>Navigation</li>
            </ul>
        </aside>
        <main class="component-wrapper">
            <h1 class="text-2xl  mb-3 text-primary">Installation</h1>

            <h3 class="text-xl text-light  mb-1 font-medium">
                Get started with XenDesign
            </h3>
            <p class="text-xl text-primary mb-3">To use XenDesign in your site simply follow the below installation
                procedure.</p>

            <p class="text-lg mb-2 italic">Just copy the below code and paste inside <span
                    class="text-primary">HEAD</span> tag and then you are
                ready
                to
                rock with this framework</p>
            <pre><code class="language-html"><xmp><link rel="stylesheet" href="https://xendesign.netlify.app/css/index.css">
<script src="https://xendesign.netlify.app/js/index.js" defer></script></xmp></code></pre>

        </main>
    </main>
</body>

</html>