<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="../components/css/style.css">
    <link rel="stylesheet" href="../components/css/prism.css">
    <script src="../js/index.js" defer></script>
    <script src="../components/js/index.js" defer></script>
    <script src="../components/js/prism.js" defer></script>
    <script src="../components/js/clipboard.min.js" defer></script>
    <script src="../components/js/copyToClipboard.js" defer></script>
    <title>XenDesign</title>
</head>

<body class="bg-dark  overflow-x-hidden text-light">
    <header
        class="align-left p-3 pt-2 pb-2 t-0 l-0 fixed bg-dark w-full bx-sh-secondary-3 row justify-between items-center">
        <div class="row flex-gap-1 items-center">
            <button class="menu btn-round-md bg-secondary ml-2">
                <fa class="fa fa-bars"></fa>
            </button>
            <a href="../index.html" class="text-xl">XenDesign</a>
        </div>
        <a href="https://github.com/sanjitsarkar/xendesign" target="_blank" class="text-xl"><i
                class="fab fa-github fa-2x"></i>
        </a>

    </header>
    <main class="container h-full w-full row">
        <aside class="w-1-6 sidebar  overflow-y-auto ">
            <h1 class="sidebar-title font-bold text-xl pb-1 pl-3">
                Get Started
            </h1>
            <ul class="list top-list p-1" id="top-list">

                <li>Installation</li>
                <li>Color</li>
                <li>Typography</li>
            </ul>
            <h1 class="sidebar-title font-bold text-xl pb-1 pl-0">
                Components
            </h1>
            <ul class="list bottom-list p-1" id="bottom-list">
                <li>Alert</li>
                <li>Avatar</li>
                <li>Badge</button></li>
                <li>Button</li>
                <li>Card</li>
                <li>Image</li>
                <li>Input</li>
                <li>Modal</li>
                <li>Toast</li>
                <li>Rating</li>
                <li>Slider</li>
                <li>Grid</li>
                <li>Navigation</li>
            </ul>
        </aside>


        <!-- <iframe src="../index.html" frameborder="0" class="w-5-6 h-screen overflow-y-scroll" id="iframe"></iframe> -->
    </main>
</body>

</html>