.badge-holder {
  cursor: pointer;
  position: relative;
  transform: scale(1);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.badge-holder:hover {
  cursor: pointer;
  transform: scale(1.1);
}
/* .badge {
  right: -5%;
  top: -5%;
  position: absolute;
  display: grid;
  place-content: center;
  border-radius: 50%;
  width: 1.5rem;
  padding: 0.25rem;
  height: 1.5rem;
  font-size: small;
  background-color: var(--primary-color);
  color: var(--light-color);
} */
.badge-primary {
  background-color: var(--primary-color);
}
.badge-secondary {
  background-color: var(--secondary-color);
  color: var(--light-color);
}
.badge-tertiary {
  background-color: var(--tertiary-color);
  color: var(--light-color);
}
.badge-error {
  background-color: var(--error-color);
  color: var(--light-color);
}

.badge {
  right: -10%;
  top: -10%;
  box-sizing: content-box;
  position: absolute;
  display: grid;
  place-content: center;
  border-radius: 50%;
  padding: 0.25rem;
  min-width: 1rem;
  min-height: 1rem;
  aspect-ratio: 1/1;
  font-size: small;
  background-color: var(--primary-color);
  color: var(--light-color);
}
.badge-status {
  background-color: var(--grey-color);
}
.badge-primary {
  background-color: var(--primary-color);
}
.badge-secondary {
  background-color: var(--secondary-color);
  color: var(--light-color);
}
.badge-tertiary {
  background-color: var(--tertiary-color);
  color: var(--light-color);
}
.badge-error,
.badge-status .dnd {
  background-color: var(--error-color);
  color: var(--light-color);
}
.badge-success,
.badge-status .online {
  background-color: var(--success-color);
  color: var(--light-color);
}

.badge-warning,
.badge-status .idle {
  background-color: var(--warning-color);
  color: var(--dark-color);
}
