.slider-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.slider {
  cursor: pointer;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  height: 0.5rem;
  background: var(--grey-color-6);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  opacity: 1;
}
.slider:hover,
.slider:focus {
  border: none;
}
.slider:hover {
  opacity: 0.9;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--primary-color);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  background: var(--primary-color);
  cursor: pointer;
}
