@import url("../slider/index.css");

.input {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  padding: 0.6em 0.7em;
  background-color: transparent;
  outline: none;
  font-size: var(--font-size);
  transition: all 0.3s ease-in-out;
}
.input-box {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
.input-box .input {
  display: inline-block;
  border: 0;
  width: 100%;
  background-color: transparent;
  outline: none;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

.input:hover {
  border: 1px solid var(--primary-color);
}
.input:focus {
  border: 1px solid var(--primary-color);
}
.input-box .input:hover {
  border: none;
}
.input-box .input:focus {
  border: none;
}

.input-box ~ .input:hover {
  border: 1px solid var(--primary-color);
}
.input-box ~ .input:focus {
  border: 1px solid var(--primary-color);
}
.input-primary-light {
  background-color: var(--primary-color-8);
  color: var(--dark-color);
}
.input-primary-light {
  background-color: var(--primary-color-8);
  color: var(--dark-color);
}
.input-tertiary-light {
  background-color: var(--tertiary-color-8);
  color: var(--dark-color);
}

.input-success::placeholder,
.input-success .input::placeholder {
  color: var(--light-color-3);
}
.input-error::placeholder,
.input-error .input::placeholder {
  color: var(--light-color-2);
}

.input-light {
  background-color: var(--dark-color-9);
  color: var(--light-color);
}
.input-light i {
  color: var(--dark-color-4);
}
.input-light input {
  color: var(--dark-color);
}
.input-dark input {
  color: var(--light-color);
}
.input-dark {
  background-color: var(--light-color-8);

  color: var(--dark-color);
}
.input-dark i {
  color: var(--light-color-4);
}
.input-success {
  background-color: var(--success-color);
  color: var(--light-color);
}
.input-error {
  background-color: var(--error-color);
  color: var(--light-color);
}
.input-warning {
  background-color: var(--warning-color);
}
.input-warning::placeholder,
.input-warning .input::placeholder {
  color: var(--dark-color-4);
}

.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey-color-6);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 3.5rem;
  border: 1px solid var(--light-color-9);
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 1.3rem;
  width: 1.3rem;
  left: 0.05rem;
  bottom: 0.05rem;
  background-color: var(--primary-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .switch-slider {
  background-color: var(--primary-color);
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .switch-slider:before {
  background-color: var(--light-color);

  transform: translateX(1.5rem);
}

.checkbox-container,
.radio-container {
  display: block;

  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input,
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: var(--grey-color-6);
}

.checkbox-container:hover input ~ .checkmark {
  background-color: var(--grey-color-4);
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 0.5rem;
  top: 0.35rem;
  width: 0.4rem;
  height: 0.7rem;
  border: solid var(--dark-color);
  border-width: 0 0.2rem 0.2rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.radio-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--grey-color-6);
  border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
  background-color: var(--grey-color-4);
}

.radio-container input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

.radio-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--dark-color);
}
